@tailwind base;
@tailwind components;
@tailwind utilities;
.header-banner {
  height: 538px;
  background-image: url("assets/images/car-banner.png");
  background-repeat: no-repeat;
}
.header-banner:before {
  @apply w-full absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: linear-gradient(
    269.9deg,
    rgba(255, 255, 255, 0.23) 28.28%,
    rgba(0, 0, 0, 0.21) 59.06%
  );
}
.image-client:hover {
  filter: grayscale(0);
}
.star {
  mask: url("assets/images/Stars.svg") no-repeat center left;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.toggle {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 999;
}
.toggle:focus {
  outline: none;
}
.toggle:before,
.toggle:after {
  @apply absolute right-0 bg-gray-200 transition-all duration-200;
  content: "";
  height: 3px;
  transform-origin: center;
}
.toggle:before {
  top: 26%;
  width: 20px;
}
.toggle:after {
  top: 58%;
  width: 12px;
}
.toggle.active:before {
  transform: translateY(-50%) rotate(-45deg);
}
.toggle.active:after {
  transform: translateY(-50%) rotate(45deg);
}
