@tailwind base;
@tailwind components;
@tailwind utilities;
.header-banner {
  height: 538px;
  background-image: url("assets/images/car-banner.png");
  background-repeat: no-repeat;
}
.header-banner:before {
  @apply w-full absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: linear-gradient(
    269.9deg,
    rgba(255, 255, 255, 0.23) 28.28%,
    rgba(0, 0, 0, 0.21) 59.06%
  );
}
.image-client:hover {
  filter: grayscale(0);
}
.star {
  mask: url("assets/images/Stars.svg") no-repeat center left;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.toggle {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 999;
}
.toggle:focus {
  outline: none;
}
.toggle:before,
.toggle:after {
  @apply absolute right-0 bg-gray-200 transition-all duration-200;
  content: "";
  height: 3px;
  transform-origin: center;
}
.toggle:before {
  top: 26%;
  width: 20px;
}
.toggle:after {
  top: 58%;
  width: 12px;
}
.toggle.active:before {
  transform: translateY(-50%) rotate(-45deg);
}
.toggle.active:after {
  transform: translateY(-50%) rotate(45deg);
}
ol.stepper li.number {
  border-radius: 60px;
}
ol.stepper li.number:not(:last-child) {
  margin-right: 60px;
}
ol.stepper li.number:not(:last-child):before {
  @apply bg-gray-500;
  content: "";
  z-index: -2;
  top: 50%;
  left: 100%;
  position: absolute;
  width: 75px;
  height: 1px;
}
ol.stepper li.number:after {
  @apply bg-green-600;
  position: absolute;
  content: "";
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-image: url('data:image/svg+xml;utf8,<svg width="30" height="21" viewBox="0 0 30 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.62961 8.52668L7.82252 17.2306C8.46805 18.3126 9.94113 18.5354 10.8778 17.6927L27.1842 3.02177" stroke="white" stroke-width="4" stroke-linecap="round"/></svg>');
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(1);
  transition: 0.35s transform ease-in-out;
}
ol.stepper li.number.active:after {
  @apply border border-gray-500 border-solid;
  z-index: -1;
  background: white;

  transform: scale(1.2);
}
ol.stepper li.number.active {
  @apply bg-gray-400;
}
